header{
display: flex;
justify-content: space-between;
padding-bottom: 10px;
}

.phoneHeader{
display: none
}

#logo{
height: 140px;
padding: 10px;
}

#companyName{
display: flex;
align-self: flex-end;
width: 300px;
height: 29px;
padding: 10px;
}

@media only screen and (min-width: 650px) {
  /****************\\\\\\\\\ Tablet /////////****************/

header{
    padding-left: 10px;
}

#phonePF{
    padding-right: 10px;
    font-size: 35px;
    font-family: 'Montserrat';
    margin: 0;
}

.phoneHeader{
    display: flex;
    align-items: flex-end;
    padding-right: 10px;
}
}

@media only screen and (min-width: 800px) {

.logoContainer{
  display: flex;
  align-items: flex-start;
}

#companyName{
width: 350px;
}

}