header{
     display: flex;
    padding: 5px;
}

#logo{
    height: 150px;
    padding-bottom: 12px;
}

#companyName{
    display: flex;
    align-self: center;
    width: 280px;
    height: 23px;
    padding: 10px;
}

