.home{
  padding: 20px 0px;
}

#homeImg{
    width: 100%;
    box-shadow: 0px 3px 10px -6px;
}

.mainQoute {
  text-align: center;
}

.mainQoute h2 {
  font-size: 49px;
  margin: 1em auto 0 auto;
  font-weight: 600;
  content: open-quote;
}

.mainQoute p {
  font-size: 28px;
  margin: auto;
  line-height: 45px;
}

blockquote ::before {
  content: open-quote;
  text-align: center;
  display: block;
  font-size: 1.5em;
  line-height: 1em;
  vertical-align: bottom;
  height: 0.5em;
  color: rgba(36, 36, 36, 0.4);
}

p::before {
  content: no-open-quote;
}


@media only screen and (min-width: 650px) {
  /****************\\\\\\\\\ Tablet /////////****************/

  #homeImg{
    width: 95%;
}

.headImgContainer{
    display: flex;
    justify-content: center;
}

}

@media only screen and (min-width: 650px) {
  /****************\\\\\\\\\ Tablet /////////****************/

  #homeImg{
    height: 600px;
}

}
