form{
     margin: 10px;
}

.contact h1 {
     text-align: center;
}

.contact h3, .mail p{
     margin: 10px;
}

form{
     margin-bottom: 30px;
}

form div{
     display: flex;
     justify-content: center;
     flex-direction: column;
     margin: 5px 0px;
}

#messageBox{
     height: 100px;
     width: 96%;
}

@media only screen and (min-width: 650px) {

     .subContact{
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     form div{
          width: 600px;
     }
}
